.leaderboard {
  border-collapse: collapse;
}

.leaderboard td,
.leaderboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

.probability-slider input {
  width: 80%;
  display: block;
  margin: auto;
}

.probability-slider .ticks {
  width: 80%;
  height: 2em;
  margin: auto;
}

.probability-slider .tick-container {
  left: 0;
  height: 0;
}

.probability-slider .tick {
  width: 0;
  right: "100%";
  margin-left: auto;
  display: flex;
  justify-content: center;
}
